<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable.core.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable-demos.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/bootstrap-glyphicons.css" );
?>

<script src="/snep/includes/javascript/footable/footable.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.sort.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.filter.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.paginate.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/bootstrap-tab.js" type="text/javascript"></script>

<div id="row">
   <div class="tab-content">
      <div class="tab-pane active" id="demo">
         <div class="snep-body-top-buttons">
            <a class="btn btn-add" href="<?php echo $this->url ?>/add/ " role="button"><?php echo $this->translate("Add Extension Group")?></a>
            <div class="snep-body-search">
               <?php if($this->key){ ?>
                  <a class='sn-dash-add' href="<?php echo $this->baseUrl ?>/default/index/index?dashboard_add=<?php echo $this->key ?>" title="<?php echo $this->translate('Add to dashboard');?>"></a>
                  &nbsp;|&nbsp;
               <?php }
               echo $this->translate("Search")?> <input id="filter" type="text"/>
            </div>
         </div>

         <table class="table demo table-hover" data-filter="#filter" data-page-size="<?php echo $this->lineNumber?>">
            <thead>
               <tr>
                  <th class="text-center" style="width:10%;" data-type="numeric" data-sort-initial="true"><?php echo $this->translate('Code');?></th>
                  <th style="width:40%;"><?php echo $this->translate('Name');?></th>
                  <th  class="text-center"><?php echo $this->translate('Peers in');?></th>
                  <th  class="text-center" colspan="2" data-sort-ignore="true"><?php echo $this->translate('Actions');?></th>
               </tr>
            </thead>
            <tbody>
               <?php if($this->extensionsgroups):
                  foreach($this->extensionsgroups as $group ):
                     $disabled = $group['id'] === '1' ? "disabled" : "";  ?>
                     <tr>
                        <td class="text-center"><b> <?php echo $group['id'] ?> </td>
                        <td> <?php echo $group['name'] ?> </td>
                        <td class="text-center"> <?php echo $group['qt_peers'] ?> </td>

                        <td align="center">
                           <a class="btn btn-edit btn-sm" href="<?php echo $this->url ?>/edit/id/<?php echo $group['id'] ?>" role="button">
                              <?php echo $this->translate('Edit')?>
                           </a>
                           <a class="btn btn-danger btn-sm <?php echo $disabled ?>" href="<?php echo $this->url ?>/remove/id/<?php echo $group['id'] ?>" role="button">
                              <?php echo $this->translate('Delete')?>
                           </a>
                        </td>
                     </tr>
                  <?php endforeach ;
               endif ?>
            </tbody>
            <tfoot>
               <tr>
                  <td colspan="6">
                     <div class="paging">
                        <ul class="pagination"></ul>
                     </div>
                  </td>

               </tr>
            </tfoot>
         </table>
         <br>
      </div>
   </div>
</div>


<script type="text/javascript">
    jQuery.noConflict();
    jQuery(function () {
        jQuery('table').footable().on('click', '.row', function(e) {
            e.preventDefault();
        });
    });
</script>
